.search{
  min-width: 20rem;
  position: relative;
  padding-left: 3px;
  margin-bottom: 1rem;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: url(/assets/imgs/search.png) no-repeat 10px 5px/1.3rem;
    top: .5rem;
  }

  input {
    padding-left: 2.5rem;
  }
}
