.addBtn {
  position: absolute;
  top: 0;
  right: 1rem;
}

.mainBlock app-search-field {
  display: block;
  width: 25%;
}

.subtitle {
  margin-bottom: 1.5rem;
}

.reviewCardList {
  padding: 0 1.5rem;
}

app-review-card {
  cursor: pointer;
}
