.modalContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(.25rem);
  z-index: 0;
}
.modal {
  min-width: 10%;
  padding: 1rem;
  z-index: 1;
  border-radius: .5rem;
}
