.homeLogo {
  display: block;
  width: 15rem;
  height: 15rem;
  margin-left: calc(50% - 7.5rem);
  margin-top: 1rem;
}
.sectionTitle {
  margin: 3rem 0;
}
.mark {
  margin-bottom: 1.25rem;
  font-weight: 600;
}
button {
  margin-bottom: 1.25rem;
}
