h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 2.5rem;
}

h4 {
  margin-bottom: 1rem;
}

.formControl {
  margin: 2.5rem 0;
}

.pinForm {
  input {
    display: inline-block;
    width: 3.75rem;
    height: 3rem;
    margin-left: 1rem;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }
  }
}

