$black: #000;
$dark_0: #111111;
$dark_1: #222222;
$dark_2: #484848;
$dark_3: #767676;
$dark_4: #878787;
$dark_5: #b3b3b3;
$dark_6: #d7d7d7;
$dark_7: #f0f0f0;
$dark_8: #f9f9f9;
$white: #fff;
$error: #f33;
$dark_red: #b00;
$success: #008000;
$link_base_color: #3667E3;
$link_base_color_active: #0043ff;
$shadow_color: rgba(110, 110, 110, .5);
$outline_color: coral;
